<h1>Home#index</h1>

<p>Find me in app/views/home/index.html.erb</p>


<% if signed_in? %>
Signed in as: <%= current_user.email %>
<%= button_to 'Sign out', sign_out_path, method: :delete %>
<% else %>
<%= link_to 'Sign in', sign_in_path %>
<% end %>

<div id="flash">
<% flash.each do |key, value| %>
  <div class="flash <%= key %>"><%= value %></div>
<% end %>
</div>


<div class="title">
<h1>Welcome to the journal</h1>
</div>



<div class="posts">

<% @posts.each do |post| %>
    <div class="one-post">
    <img class="image" src="<%= post.media %>">
    <div class="title"> <%= post.title %></div>
    <div class="content"><p> <%= post.body %> </p></div>
    </div>

<% end%>
    

</div>