
<div class="content"> <h1>All Artwork</h1></div>

<% @posts.each do |post| %>
<div class="box">
<div class="content"><h1><%= post.title %></h1></div>

  <article class="media">
    <div class="media-left">

      <figure class="image is-128x128">
        <img src="<%= post.media %>" alt="Image">
      </figure>

    </div>
    <div class="media-content">
      <div class="content">
        <p class="is-medium">
          <small>@johnsmith</small> <small>31m</small>
          <br>
          <%= post.body %> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
        </p>
      </div>
    
    </div>
  </article>
  
</div>

<% end%>


<% if signed_in? %>
<h2>My art</h2>
<table class="responsive-table">
    <thead>
      <tr>
          <th>Picture name</th>
          <th>Description</th>
          <th>Delete</th>
      </tr>
    </thead>
    
    <tbody>
    <% @myposts.each do |mypost| %>
      <tr>
        <td><%= mypost.title %></td>
        <td><%= mypost.body %></td>
        <td>$0.87</td>
      </tr>
      <% end%>
    </tbody>
  </table>
  <% end %>




<div id="flash">
<% flash.each do |key, value| -%>
  <div id="flash_<%= key %>"><%=h value %></div>
<% end %>

