<div class="columns">
<div class="column"></div>
  <div class="column is-two-fifths">




<div class="content"><h1> Update my artwork</h1></div>
<div class="field">

<%=form_for :post , url: { action: "update" },  :html=> {:enctype=>"multipart/form-data" , :class=>"post-form"} do |f| %>
<%= label_tag(:title, "A creative title?", :class =>"label", :value=>"@post.title") %>
<%= f.text_field(:title, :class=>"input", :placeholder=>"Name your work")%>
<%= label_tag(:media, "Please select your artwork", :class =>"label") %>

<%= f.file_field("media",:class=>"button is-primary") %>
<%= label_tag(:body, "What is your art all about?", :class =>"label") %>
<%=f.text_field(:body,:class=>"textarea",:placeholder=>"The world needs to know what inspires you")%>
<%=f.submit("Submit", :class=>"button is-primary")%>
<%end%>

</div>

</div>
<div class="column"></div>


</div>
