
<div class="content"> <h1>All Artwork</h1></div>

<% @posts.each do |post| %>
<div class="box">
<div class="content"><h1><%= post.title %></h1></div>

  <article class="media">
    <div class="media-left">

      <figure class="image is-128x128">
        <img src="<%= post.media %>" alt="Image">
      </figure>

    </div>
    <div class="media-content">
      <div class="content">
        <p class="is-medium">
          <small>@<%= post.author %></small> <small>shared on <%= post.created_at.strftime("%Y-%m-%d") %></small>
          <br>
          <%= post.body %>

        </p>
        <%= link_to("Show", { :controller => 'posts', :action => 'show', :id =>post.id}, :class => 'action show') %>


      </div>

    </div>
  </article>

</div>

<% end%>
