<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag "application" %>

</head>
<body>



<!-- nav ends-->


  <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">

      <img src="https://res.cloudinary.com/jorgecarabali/image/upload/v1569350873/LogoMakr_1Pu8RG_ogqp3k.png" width="130" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <a href='<%= "/posts/index" %>' class="navbar-item">Home</a>

      <a href='<%= "/posts/create" %>'  class="navbar-item">
        Create
      </a>
      <a href='<%= "/posts/delete" %>'  class="navbar-item">
      Delete
    </a>



  </div>
  <div class="navbar-end">

   <% if signed_in? %>

     <%= button_to t(".sign_out"), sign_out_path, method: :delete %>

    <% else -%>
      <%= link_to t(".sign_in"), sign_in_path, :class => "nabvar-item" -%>
    <% end -%>


  </div>
  </div>
</nav>


  <!-- end of new code -->


  <div class="column is-full">
  <div class="columns">
  <div class="column">
  <%= yield %>
  </div>


<% if current_page?('/posts/index') %>
  <div class="column is-one-third">


  </div>

<%end %>


</div>





</body>


</html>
